.App {
padding: 0;
margin: 0;
box-sizing: border-box;
/* border: 2px solid; */
display: flex;
 


}
 
.leftSideHome{
  /* position: fixed; */
  flex: 0.198;
  padding: 25px 10px;
  border-right: 1px solid;
  height: 100vh;
  border-color: rgb(232, 202, 202);
  margin: 0;
  margin-left: 0;
 }

.middleSide{
 
    flex: 0.5;
    border-left: 1px solid; 
  border-color: rgb(232, 202, 202);
    
  }
  
  .rightSide{
    flex: 0.33;
    /* border: 1px solid; */
 
}


 