.leftSidePart{
    position: fixed;
   
        width: 16%;
  
}


.logopart{
    width: 140px;
    height: 30px;
    margin-top: 12px;
    margin-left: 9px;
    margin-bottom: 38px;

}

.logoimg{
    width: 77%;
    height: 37px;
   
}
 
.navlinkpart{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    
}

.navlink{
    display: flex;
    border-radius: 5px;
    height: 27px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 9px;
    width: 100%;
    &:hover{
        background-color: #ededed;
    }


}
.navName{
font-weight: 400; 
margin-left: 10px;
}
.navprofileimg{
    
    height: 25px;
    width:  25px;
    margin:0 0px 0;
    border-radius: 50%;
}

 
.navNamep{
font-weight: 400; 
margin-left: 15px;
}

.belowPart{
    margin-top: 15px;
}