.storyOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  
  z-index: 999;
}

.storyContent {
  position: relative;
  width: 346.5px;
  height: 96vh;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-right: 12.5px;
}

.storyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.storyHeader {
  position: absolute;
  top: 34px;
  left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.storyProfilePic {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  /* border: 2px solid white; */
}